<li class="message">
	<time datetime="{{ DateTime }}">{{ Time }}</time>
	{{# Sender }}
	<span class="sender">
		<span class="{{ SenderClasses }}">{{{ Sender }}}</span>
	</span>
	{{/ Sender}}
	<span class="content">
		{{{ Message }}}
	</span>
</li>
