{{# Users }}
<li>
	{{# Avatar }}
	<img alt="" class="avatar"
			src="/steamcommunity/public/images/avatars/{{ AvatarFolder }}/{{ Avatar }}_full.jpg">
	{{/ Avatar }}
	{{^ Avatar }}
	<img alt="" src="rohbot.png">
	{{/ Avatar }}
	<div data-rank="{{ Rank }}" class="styled-names">{{# Web }}<span class="{{ Class }} {{ Style }}">{{{ Name }}}</span> <!-- I LOVE SPACES -->
		{{/ Web }}
		{{^ Web }}
		<a class="{{ Class }} {{ Style }}" href="http://steamcommunity.com/profiles/{{ UserId }}" target="_blank">
			{{{ Name }}}
		</a>
		{{/ Web }}
		<span class="{{ Class }}">
			<br>
			{{{ Status }}}
		</span>
	</div>
</li>
{{/ Users }}
