
#chat {
	list-style: none;
	@timestampWidth: 4.5em;
	> li {
		line-height: 1.2em;
		font-size: 0.9em;
		color: @colText;
		margin-left: @timestampWidth;
		position: relative;
		&:before {
			content: " - ";
			color: @colName;
		}
	}

	time {
		position: absolute;
		left: -@timestampWidth;
		display: block;
		font-family: Consolas, "Lucida Sans Typewriter", Monaco, "Bitstream Vera Sans Mono", monospace;
		width: @timestampWidth;
		top: 0;
		color: @colName;
	}

	a {
		color: lighten( @colText, 10% );
		&:hover {
			color: @colText;
		}
	}

	img {
		min-height: 18px;
		min-width: 18px;
		vertical-align: text-top;
	}

	.sender {
		color: @colName;
		&:after {
			content: ": ";
			display: inline;
		}
	}
}
