
#chat {
	list-style: none;
	> li {
		line-height: 1.2em;
		font-size: 0.9em;
		color: @rohpod-text;
		margin-left: 0;
	}

	time {
		// font-family: Consolas, "Lucida Sans Typewriter", Monaco, "Bitstream Vera Sans Mono", monospace;
		color: @rohpod-user-steam;
		white-space: nowrap;
		&:after {
			content: "\00a0\2011";
			// font-family: inherit;
		}
	}

	a {
		color: lighten( @rohpod-text, 10% );
		&:hover {
			color: @rohpod-text;
		}
	}

	img {
		min-height: 18px;
		min-width: 18px;
		vertical-align: text-top;
	}

	.sender {
		color: @rohpod-user-steam;
		white-space: nowrap;
		&:after {
			content: ":";
			display: inline;
		}
	}
}
