
.styled-names {

    .state {
        opacity: 0.75;
    }

    .action {
        font-style: italic;
    }

    .steam {
        color: @color-user-steam;
    }

    .inGame {
        color: @color-user-ingame;
    }

    .rohBot {
        color: @color-user-rohbot;
    }

    // Heart (dajoh)
    .heart:after {
        content: '\00a0\2764';
        color: #FF69B4;
        text-shadow: 0 0 0.4em #FF69B4;
        font-style: normal;
    }

    // Glow (Rohan)
    .glow {
        color: white;
        text-shadow: 0 0 0.5em white;
    }
    
    // Pink Glow (Layla)
    .pink-glow {
        color: #FF92E2;
        text-shadow: 0 0 0.5em #FF92E2;
    }

    // Green + Monospace (Swebonny)
    .hacker {
        font-size: 1.15em;
        line-height: 0.95em;
        color: #0B0;
        font-family: monospace;
    }
    .hacker:after {
        content: '.c';
    }

    // Swastikas (toaster)
    .hitler:before,
    .hitler:after {
        content: "\5350";
        transform: rotate(45deg);
        display: inline-block;
        font-size: small;
        font-style: normal;
    }
    .hitler:before {
        margin-right: 3px;
    }
    .hitler:after {
        margin-left: 3px;
    }

    // Australian (brian)
    .upsidedown {
        transform: rotate(-180deg);
        display: inline-block;
    }

    // Red (Shoar)
    .red {
        color: #DC2832;
    }

    // Pink (DergBot)
    .hot {
        font-weight: bold;
        color: #FF69B4;
    }

    // Orange (krix)
    .orangepeel {
        font-weight: bold;
        color: #FF7E00;
    }

    // All spooky n shit. (farmatyr)
    .ghostmatyr {
        color: rgb(129, 162, 172);
        text-shadow: rgb(129, 162, 172) 0 0 2px;
        transform: rotate(3deg);
        display: inline-block;
    }

    // African (Naarkie)
    .african {
        color: #d7ceb2;
        font-weight: bold;
        text-shadow: 1px 1px 0 #5c5f72, 2px 2px 0 #2c2e38;
    }

    // Dark Blue (Vbitz)
    .thinBlue {
        text-shadow: 0 0 5px #808080;
        color: #1E90FF;
        font-weight: lighter;
    }

    // Crack (Cra0)
    .crack {
        font-weight: bold;
        color: #06F;
    }

    // Span (Spans)
    .spans:before {
        content: "<";
    }
    .spans:after {
        content: ">";
    }
    
    // Meme Blue (atlantique)
    .meme-blue {
        color: #3498DB;
    }
    
    // Piss Yellow (Berkin)
    .piss-yellow {
        color: #DD0;
    }
    
    // Jossie (jos)
    .jossie:after {
        content: "\01F37C";
        margin-left: 3px;
    }
    
    // Beanify (bean)
    .beanify {
        transform: rotate(-180deg);
        display: inline-block;
        color: #75D12E;
    }
    
    // Eggplant (psoeter)
    .eggplant:after {
        content: "\01F346";
        margin-left: 3px;

    // killo (watt)
    .killo {
        color: #008080;
    }
}
