@rohbot-background: #171614;
@rohbot-text: #D1CFCD;
@rohbot-user-steam: #80B4DC;
@rohbot-user-in-game: #A0CC67;
@rohbot-user-web: #B67FFF;

@rohbot-ui-background: darken(@rohbot-background, 8%);
@rohbot-buttons: #693D99;

.noSpacing() {
	margin:  0;
	padding: 0;
}

* {
	border-radius: 0;
	-webkit-appearance: none;
}

html,
body {
	height: 100%;
	font-family: sans-serif;
}

body, h1 {
	.noSpacing;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-thumb {
    background: @rohbot-ui-background;
}

@import "_interface.less";
@import "_tabs.less";
@import "_history.less";
@import "_userlist.less";
@import "_names.less";
