@import "bourbon/bourbon";

$colBack: #2B2929;
$colText: #D1CFCD;
$colName: #80B4DC;
$colInGame: #A0CC67;
$colWeb: #B67FFF;

$uiColor: darken($colBack, 8);
$buttonColor: #693D99;

@mixin noSpacing {
	margin: 0px;
	padding: 0px;
}

* {
	-webkit-border-radius: 0px;
	border-radius: 0px;
	-webkit-appearance: none;
}

html,
body {
	height: 100%;
	font-family: sans-serif;
}

body, h1 {
	@include noSpacing;
}

@import "flexes";
@import "chat";
@import "userlist";
@import "names";