@import "bourbon/bourbon";

$colBack: #2B2929;
$colText: #D1CFCD;
$colName: #80B4DC;
$colInGame: #A0CC67;
$colWeb: #B67FFF;

$uiColor: darken($colBack, 8);
$buttonColor: #693D99;

@mixin noSpacing {
	margin: 0px;
	padding: 0px;
}

* {
	-webkit-border-radius: 0px;
	border-radius: 0px;
	-webkit-appearance: none;
}

html,
body {
	height: 100%;
	font-family: sans-serif;
}

body, h1 {
	@include noSpacing;
}

@import "flexes";

@media all and (max-width: 600px) {
	div.container > #header {
		h1 { display: none; }
	}
}

#chat > * {
	line-height: 1.2em;
	font-size: 0.9em;
	color: $colText;
}

#chat a { color: lighten($colText, 10); }
#chat a:hover { color: $colText; }

#chat img {
	min-height: 18px;
	min-width: 18px;
	vertical-align: text-top;
}

.sender {
	color: $colName;
}

.inGame {
	color: $colInGame;
}

.rohBot {
	color: $colWeb;
}

@-moz-document url-prefix() {
	.flex-container {
		width: 100%;
		-moz-box-sizing: border-box;
	}
}

@import "userlist";
@import "names";