@charset "UTF-8";
* {
  -webkit-border-radius: 0px;
  border-radius: 0px;
  -webkit-appearance: none; }

html, body {
  height: 100%;
  font-family: sans-serif; }

body, h1 {
  margin: 0px;
  padding: 0px; }

div.container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: start;
  -moz-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  -webkit-box-align: stretch;
  -moz-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  height: 100%;
  background-color: #2b2929; }

a, input, textarea {
  height: 16px; }

div.container > #header {
  -webkit-box-ordinal-group: 1;
  -moz-box-ordinal-group: 1;
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: start;
  -moz-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  -webkit-box-align: start;
  -moz-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  color: #e6e6e6;
  background-color: #161515;
  padding: 6px; }
  div.container > #header h1 {
    font-size: 17pt; }

div.container > #header a, div.container > #header input, div.container > #header textarea, div.container > #footer a, div.container > #footer input, div.container > #footer textarea {
  padding: 6px;
  font-size: 10pt;
  outline: none;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }
div.container > #header > a, div.container > #header > input, div.container > #header > textarea, div.container > #header > h1, div.container > #footer > a, div.container > #footer > input, div.container > #footer > textarea, div.container > #footer > h1 {
  display: block; }
div.container > #header > a, div.container > #footer > a {
  -webkit-box-ordinal-group: 4;
  -moz-box-ordinal-group: 4;
  -webkit-order: 3;
  -ms-flex-order: 3;
  order: 3;
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
  text-align: center; }
div.container > #header > input, div.container > #header > textarea, div.container > #footer > input, div.container > #footer > textarea {
  -webkit-box-ordinal-group: 2;
  -moz-box-ordinal-group: 2;
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto; }
div.container > #header > h1, div.container > #footer > h1 {
  -webkit-box-ordinal-group: 1;
  -moz-box-ordinal-group: 1;
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-box-flex: 20;
  -moz-box-flex: 20;
  -webkit-flex: 20 0 auto;
  -ms-flex: 20 0 auto;
  flex: 20 0 auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto; }
div.container > #header input, div.container > #header textarea, div.container > #footer input, div.container > #footer textarea {
  color: #030303;
  background-color: #e6e6e6;
  border: none;
  margin: 0px;
  margin-right: 6px; }
  div.container > #header input:focus, div.container > #header textarea:focus, div.container > #footer input:focus, div.container > #footer textarea:focus {
    color: #333333;
    background-color: #fafafa;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; }
div.container > #header a, div.container > #footer a {
  background-color: #693d99;
  color: white;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer; }
  div.container > #header a:hover, div.container > #footer a:hover {
    background-color: #8250b9;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; }

div.container > #chat {
  -webkit-box-ordinal-group: 2;
  -moz-box-ordinal-group: 2;
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
  -webkit-box-flex: 20;
  -moz-box-flex: 20;
  -webkit-flex: 20 0 auto;
  -ms-flex: 20 0 auto;
  flex: 20 0 auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
  padding: 4px;
  overflow-y: scroll;
  word-wrap: break-word;
  min-height: 0px;
  height: 0%;
  white-space: pre-wrap; }

div.container > #footer {
  -webkit-box-ordinal-group: 3;
  -moz-box-ordinal-group: 3;
  -webkit-order: 2;
  -ms-flex-order: 2;
  order: 2;
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: start;
  -moz-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  -webkit-box-align: start;
  -moz-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  color: #e6e6e6;
  background-color: #161515;
  padding: 6px; }
  div.container > #footer > a, div.container > #footer > textarea {
    display: block; }
  div.container > #footer > a {
    -webkit-box-ordinal-group: 2;
    -moz-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
    -webkit-box-flex: 0;
    -moz-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto; }
  div.container > #footer > textarea {
    -webkit-box-ordinal-group: 1;
    -moz-box-ordinal-group: 1;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-box-flex: 20;
    -moz-box-flex: 20;
    -webkit-flex: 20 0 auto;
    -ms-flex: 20 0 auto;
    flex: 20 0 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    resize: none;
    font-family: inherit; }

@media all and (max-width: 600px) {
  div.container > #header h1 {
    display: none; } }
#chat > * {
  line-height: 1.2em;
  font-size: 0.9em;
  color: #d1cfcd; }

#chat a {
  color: #e9e9e8; }

#chat a:hover {
  color: #d1cfcd; }

#chat img {
  min-height: 18px;
  min-width: 18px;
  vertical-align: text-top; }

.sender {
  color: #80b4dc; }

.inGame {
  color: #a0cc67; }

.rohBot {
  color: #b67fff; }

@-moz-document url-prefix() {
  .flex-container {
    width: 100%;
    -moz-box-sizing: border-box; } }

.userList {
  background-color: #232222; }
  .userList > div {
    display: inline-block;
    width: 256px;
    height: 32px;
    padding: 4px;
    white-space: nowrap; }
    .userList > div > div {
      display: inline-block;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 224px;
      padding-left: 4px;
      color: #80B4DC; }
      .userList > div > div[data-color=ingame] {
        color: #a0cc67; }
      .userList > div > div[data-color=web] {
        color: #b67fff; }
      .userList > div > div[data-rank=Owner]:before {
        content: '★ ';
        color: #FECB00; }
      .userList > div > div[data-rank=Officer]:before {
        content: '★ ';
        color: #FECB00; }
      .userList > div > div[data-rank=Moderator]:before {
        content: '★ ';
        color: #CFCFCF; }
  .userList img {
    width: 32px;
    height: 32px;
    vertical-align: text-top;
    float: left; }
  .userList a {
    color: inherit !important;
    text-decoration: none; }
    .userList a:hover {
      text-decoration: underline; }

/* Name Styles */
.rohBot.heart:after {
  content: ' ❤';
  color: #FF69B4;
  animation: heartGlow 2.5s linear infinite alternate;
  -webkit-animation: heartGlow 2.5s linear infinite alternate; }

@keyframes heartGlow {
  from {
    text-shadow: 0 0 0.1em #FF69B4; }

  to {
    text-shadow: 0 0 0.5em #FF69B4; } }

@-webkit-keyframes heartGlow {
  from {
    text-shadow: 0 0 0.1em #FF69B4; }

  to {
    text-shadow: 0 0 0.5em #FF69B4; } }

.rohBot.glow {
  color: white;
  text-shadow: 0 0 0.5em white; }

.rohBot.hacker {
  font-size: 1.15em;
  line-height: 0.95em;
  color: #0B0;
  font-family: monospace; }

.rohBot.hacker:after {
  content: '.c'; }

.rohBot.hitler:before, .rohBot.hitler:after {
  content: "卐";
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  display: inline-block;
  font-size: small; }

.rohBot.hitler:before {
  margin-right: 3px; }

.rohBot.hitler:after {
  margin-left: 3px; }

.rohBot.upsidedown {
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg);
  display: inline-block; }

.rohBot.blur {
  color: transparent;
  text-shadow: 0 0 0.5em #b67fff, 0 0 0.25em #b67fff, 0 0 0.1em #8a33ff; }

.rohBot.red {
  color: #dc2832; }

.rohBot.hot {
  font-weight: bold;
  color: #FF69B4; }

.rohBot.orangepeel {
  font-weight: bold;
  color: #DD4814; }

.rohBot.rainbow {
  /* webkit only :( */
  background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #ff2222), color-stop(0.16, #ff22ff), color-stop(0.32, #22ffff), color-stop(0.48, #22ff22), color-stop(0.64, #22ff22), color-stop(0.8, #ffff22), color-stop(1, #ff2222));
  -webkit-background-clip: text;
  color: transparent; }
