@import "bourbon/bourbon";

$colBack: #2B2929;
$colText: #D1CFCD;
$colName: #80B4DC;
$colInGame: #A0CC67;
$colWeb: #B67FFF;

$uiColor: darken($colBack, 8);
$buttonColor: #693D99;

@mixin noSpacing {
    margin: 0px;
    padding: 0px;
}

* {
	-webkit-border-radius: 0px;
	border-radius: 0px;
	-webkit-appearance: none;
}

html, body {
    height: 100%;
    font-family: sans-serif;
}

body, h1 {
    @include noSpacing;
}

div.container {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: start;
    -moz-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    -webkit-box-align: stretch;
    -moz-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    height: 100%;
	
	background-color: $colBack;
}

a, input, textarea {
    height: 16px;
}

div.container > #header {
    -webkit-box-ordinal-group: 1;
    -moz-box-ordinal-group: 1;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-box-flex: 0;
    -moz-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: start;
    -moz-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    -webkit-box-align: start;
    -moz-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    
    color: darken(white, 10);
    background-color: $uiColor;
    padding: 6px;
    
	h1 {
	    font-size: 17pt;
	}
}

div.container > #header, div.container > #footer {
    a, input, textarea {
		padding: 6px;
		font-size: 10pt;
		outline: none;

		@include transition(all 0.2s ease-in-out);
    }
    
    & > a, & > input, & > textarea, & > h1 {
		display: block;
    }
	
    & > a {
		-webkit-box-ordinal-group: 4;
	    -moz-box-ordinal-group: 4;
	    -webkit-order: 3;
	    -ms-flex-order: 3;
	    order: 3;
	    -webkit-box-flex: 0;
	    -moz-box-flex: 0;
	    -webkit-flex: 0 0 auto;
	    -ms-flex: 0 0 auto;
	    flex: 0 0 auto;
	    -webkit-align-self: auto;
	    -ms-flex-item-align: auto;
	    align-self: auto;
		text-align: center;
    }
    
    & > input, & > textarea {
        -webkit-box-ordinal-group: 2;
	    -moz-box-ordinal-group: 2;
	    -webkit-order: 1;
	    -ms-flex-order: 1;
	    order: 1;
	    -webkit-box-flex: 1;
	    -moz-box-flex: 1;
	    -webkit-flex: 1 0 auto;
	    -ms-flex: 1 0 auto;
	    flex: 1 0 auto;
	    -webkit-align-self: auto;
	    -ms-flex-item-align: auto;
	    align-self: auto;
    }
    
    & > h1 {
		-webkit-box-ordinal-group: 1;
	    -moz-box-ordinal-group: 1;
	    -webkit-order: 0;
	    -ms-flex-order: 0;
	    order: 0;
	    -webkit-box-flex: 20;
	    -moz-box-flex: 20;
	    -webkit-flex: 20 0 auto;
	    -ms-flex: 20 0 auto;
	    flex: 20 0 auto;
	    -webkit-align-self: auto;
	    -ms-flex-item-align: auto;
	    align-self: auto;
    }
	
    input, textarea {
		color: lighten(black, 1);
		background-color: darken(white, 10);
		border: none;
		margin: 0px;
		margin-right: 6px;
		
		&:focus {
			color: lighten(black, 20);
			background-color: darken(white, 2);

			@include transition(all 0.2s ease-in-out);
		}
    }
	
    a {
		background-color: $buttonColor;
		color: white;
		font-weight: bold;
		text-decoration: none;
		cursor: pointer;

		&:hover {
			background-color: lighten($buttonColor, 10);
			@include transition(all 0.2s ease-in-out);
		}
    }
}

div.container > #chat {
    -webkit-box-ordinal-group: 2;
    -moz-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
    -webkit-box-flex: 20;
    -moz-box-flex: 20;
    -webkit-flex: 20 0 auto;
    -ms-flex: 20 0 auto;
    flex: 20 0 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    padding: 4px;
    overflow-y: scroll;
    word-wrap: break-word;
    min-height: 0px;
    height: 0%;
	white-space: pre-wrap;
}

div.container > #footer {
    -webkit-box-ordinal-group: 3;
    -moz-box-ordinal-group: 3;
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2;
    -webkit-box-flex: 0;
    -moz-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: start;
    -moz-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    -webkit-box-align: start;
    -moz-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    
    & > a, & > textarea {
		display: block;
    }
	
    & > a {
		-webkit-box-ordinal-group: 2;
	    -moz-box-ordinal-group: 2;
	    -webkit-order: 1;
	    -ms-flex-order: 1;
	    order: 1;
	    -webkit-box-flex: 0;
	    -moz-box-flex: 0;
	    -webkit-flex: 0 0 auto;
	    -ms-flex: 0 0 auto;
	    flex: 0 0 auto;
	    -webkit-align-self: auto;
	    -ms-flex-item-align: auto;
	    align-self: auto;
    }
    
    & > textarea {
        -webkit-box-ordinal-group: 1;
	    -moz-box-ordinal-group: 1;
	    -webkit-order: 0;
	    -ms-flex-order: 0;
	    order: 0;
	    -webkit-box-flex: 20;
	    -moz-box-flex: 20;
	    -webkit-flex: 20 0 auto;
	    -ms-flex: 20 0 auto;
	    flex: 20 0 auto;
	    -webkit-align-self: auto;
	    -ms-flex-item-align: auto;
	    align-self: auto;
		resize: none;
		font-family: inherit;
    }
	
    color: darken(white, 10);
    background-color: $uiColor;
    padding: 6px;
}

@media all and (max-width: 600px) {
	div.container > #header {
	    h1 { display: none; }
	}
}

#chat > * {
	font-size: 15px;
	color: $colText;
}

#chat a { color: lighten($colText, 10); }
#chat a:hover { color: $colText; }

#chat img {
	min-height: 18px;
	min-width: 18px;
	vertical-align: text-top;
}

.sender {
	color: $colName;
}

.inGame {
	color: $colInGame;
}

.rohBot {
	color: $colWeb;
	line-height: 16px;
}

@-moz-document url-prefix() {
.flex-container {
	width: 100%;
	-moz-box-sizing: border-box;
    }
}

$ulWidth: 256px;
$ulHeight: 32px;
$ulPadding: 4px;

.userList {
	background-color: darken($colBack, 3);
	
	& > div {
		display: inline-block;
		width: $ulWidth;
		height: $ulHeight;
		padding: $ulPadding;
		white-space: nowrap;
		
		& > div {
			display: inline-block;
			overflow: hidden;
			text-overflow: ellipsis;
			width: $ulWidth - $ulHeight;
			padding-left: $ulPadding;
			color: #80B4DC;
			
			&[data-color=ingame] {
				color: $colInGame;
			}
			
			&[data-color=web] {
				color: $colWeb;
			}
			
			&[data-rank=Owner]:before {
				content: '★ ';
				color: #FECB00;
			}
			
			&[data-rank=Officer]:before {
				content: '★ ';
				color: #FECB00;
			}
			
			&[data-rank=Moderator]:before {
				content: '★ ';
				color: #CFCFCF;
			}
		}
	}
	
	img {
		width: $ulHeight;
		height: $ulHeight;
		vertical-align: text-top;
		float: left;
	}
	
	a {
		color: inherit !important;
		text-decoration: none;
		
		&:hover {
			text-decoration: underline;
		}
	}
}

/* Name Styles */
.rohBot.heart:after {
	content: ' ❤';
	color: #FF69B4;
	animation: heartGlow 2.5s linear infinite alternate;
	-webkit-animation: heartGlow 2.5s linear infinite alternate;
}

@keyframes heartGlow {
	from { text-shadow: 0 0 0.1em #FF69B4; }
	to { text-shadow: 0 0 0.5em #FF69B4; }
}

@-webkit-keyframes heartGlow {
	from { text-shadow: 0 0 0.1em #FF69B4; }
	to { text-shadow: 0 0 0.5em #FF69B4; }
}

.rohBot.glow {
	color: white;
	text-shadow: 0 0 0.5em white;
}

.rohBot.hacker {
	color: #0B0;
	font-family: monospace;
}

.rohBot.hitler:before, .rohBot.hitler:after {
    content: "卐";
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    display: inline-block;
    font-size: small;
}
.rohBot.hitler:before {
    margin-right: 3px;
}
.rohBot.hitler:after {
    margin-left: 3px;
}

.rohBot.upsidedown {
	-webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
	display: inline-block;
}

.rohBot.blur {
	color: transparent;
	text-shadow: 0 0 0.5em $colWeb, 0 0 0.25em $colWeb, 0 0 0.1em darken($colWeb, 15);
}

.rohBot.red {
	color: rgb(220, 40, 50);
}

.rohBot.rainbow { /* webkit only :( */
	background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #f22), color-stop(0.16, #f2f), color-stop(0.32, #2ff), color-stop(0.48, #2f2), color-stop(0.64, #2f2), color-stop(0.8, #ff2), color-stop(1, #f22));
	-webkit-background-clip: text;
	color: transparent;
}

